@font-face {
	font-family: "HelveticaNeueCyr-Roman";
	src: url('../fonts/HelveticaNeueCyr-Roman.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Bold";
	src: url('../fonts/HelveticaNeueCyr-Bold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Black";
	src: url('../fonts/HelveticaNeueCyr-Black.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Heavy";
	src: url('../fonts/HelveticaNeueCyr-Heavy.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Light";
	src: url('../fonts/HelveticaNeueCyr-Light.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {	
	font-family: "HelveticaNeueCyr-Medium";
	src: url('../fonts/HelveticaNeueCyr-Medium.otf');
	font-weight: normal;
	font-style: normal;
}