.logo{
	position: absolute;
	text-align: center;
	top: 37px;
    left: 10%;
    width: 145px;
    z-index: 10;
}
.logo__flex{
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	align-items:center;
}
.logo__number{
	font-family: "HelveticaNeueCyr-Bold",sans-serif;
	font-size: 18px;
}
.logo__circle{
	border-radius: 50%;
	background-color: #e11320;
	width: 10px;
    height: 10px;
}
.logo__title{
	font-family: "HelveticaNeueCyr-Heavy",sans-serif;
	text-transform: uppercase;
	font-size: 8.5px;
	margin: 6px auto;
	word-spacing: 1px;
	span{
		font-size: 19px;
		letter-spacing: 4px;
		padding-bottom: 9px;
    	display: block;
	}
}
.logo__name{
	position: absolute;
	top: 34px;
	left: 377px;
	p{
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 16px;
		text-transform: uppercase;
		color: #333;
	}
	p:before{
		content: "";
		width: 2px;
		height: 39px;
		background-color: #c6c6c6;
		top: 8px;
		left: -29px;
		display: block;
		position: absolute;
	}
}
/* header modificator */
.logo--header{
	position: static;
	margin: 0 13vw;
	width: auto;
}
.logo__number--header{
	font-family: "HelveticaNeueCyr-Roman",sans-serif;
	font-size: 172px;
}
.logo__circle--header{
	width: 25px;
	height: 25px;
}
.logo__title--header{
	display: inline-block;
	font-size: 30px;
	letter-spacing: 5px;
	margin: -3px auto;
}
/* header modificator end*/