@import "fonts";
@import "menu";
@import "logo";
@import "social";
@import "slider";
/* placeholder */
input::-webkit-input-placeholder {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	color: #fff;
}
input::-moz-placeholder          {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	color: #fff;
}
input:-o-placeholder           {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	color: #fff;
}
input:-ms-input-placeholder{
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	color: #fff;
}
/* placeholder end */
/*HAMBURGER MENU*/
.hamburger-menu{
	position: absolute;
	top: 32px;
	right: 22px;
	z-index: 10;
}
.hamburger-menu__line{
	width: 26px;
	height: 2px;
	background-color: #fff;
	border: 0px;
	border-radius: 20px;
}
.hamburger-menu__line--dark{
	background-color: #333;
}
/*HAMBURGER MENU END*/
/* ---------------------------------- */
/* list indicator */
.list-indicator{
	margin-top: auto;
	position: absolute;
	right: 23px;
	top: 278px;
	z-index: 10;
}
.list-indicator__circle{
	border-radius: 50%;
	background: #bab8b7;
	border: 1px solid #bab8b7;
	background-clip: content-box;
	padding: 3px;
	width: 10px;
	height: 10px;
	margin-bottom: 15px;
}
.list-indicator__circle--blue{
	border-color: #2b69a0;
	background-color: #2b69a0;
	padding: 2px;
	width: 11px;
	height: 11px;
}
.list-indicator__circle--white{
	border-color: #fff;
	background-color: #fff;
	padding: 2px;
	width: 11px;
	height: 11px;
}
/* list indicator  END*/
/* ----------------------------------- */
/*HEADER*/
.header{
	width: 100%;
	background-color: #4d453f;
	background: url(../img/bg_header.png) no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;
	padding-top: 275px;
	padding-bottom: 260px;
}
.header-logo{
	position: absolute;
	left: 76px;
    top: 27px;
}
.logo--768{
	display: none;
}
.header-logo__csr{
	background: url(../img/logoCRS.png) no-repeat;
    width: 96px;
   	height: 100%;
    display: inline-block;
}
.header-logo__aic{
	background: url(../img/logoaik.png) no-repeat;
	background-position: 4px 19px;
	height: 100%;
	display: inline-block;
	margin-left: 33px;
    width: 100px;
    text-align: center;
}
.header-logo__title{
	font-family: "HelveticaNeueCyr-Roman",sans-serif;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 11px;
    line-height: 15px;
	margin-top: 74px;
	color: #fff;
}
.list-indicator--header{
	top: 271px;
}
/*HEADER END*/
/* ------------------------------ */
/* description */
.description{
	position: relative;
	width: 33%;
	min-height: 562px;
	padding-right: 67%;
	padding-top: 209px;
	text-align: right;
	input:checked + .list__element + br + input + .list__element + .description__content{
		display: block;
	}
	input:checked + .list__element + .description__content + .description__content{
		display: block;
	}
	input:checked + .list__element {
		font-family: "HelveticaNeueCyr-Bold",sans-serif;
		text-transform: uppercase;
		font-size: 36px;
		color: #1d70b7;
	}
}
#description__checked1,#description__checked2 {
	display: none;
}
.list__element{
	display: inline-block;
	font-family: "HelveticaNeueCyr-Light",sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #333;
	margin-right: 40px;
	margin-bottom: 35px;
	cursor: pointer;
}
.description__content{
	display: none;
	text-align: left;
	height: 100%;
	background-color: #2b69a0;
	position: absolute;
	top: 0;
	right: 0;
	width: 67%;
	color: #fff;
	font-family: "HelveticaNeueCyr-Roman",sans-serif;
	font-size: 16px;
	line-height: 28px;
	div{
		margin: 207px 157px 100px 46px;
		p{
			margin-bottom: 28px;
		}
	}
}
/* description end */
/* putin */
.putin{
	text-align: center;
	background-color: #f1f1f1;
	padding-top: 233px;
	padding-bottom: 214px;
	position: relative;
	width: 100%;
}
.putin__foto{
	width: 102px;
	height: 102px;
	background: url(../img/putin.png) no-repeat;
	margin: 0 45vw;
	margin-bottom: 39px;
}
.putin__quote{
	font-family: "HelveticaNeueCyr-Light";
	font-size: 50px;
	font-style: italic;
	margin: 0 20vw;
	margin-bottom: 32px;
}
.putin__signature{
	font-family: "HelveticaNeueCyr-Light";
	font-size: 18px;
	color: #555;
	text-align: right;
	margin: 0 20vw;
}

/* putin end */
/* news */
.news{
	position: relative;
	width: 100%;
	padding-top: 181px;
}
.subscribe{
	width: 100%;
	height: 92px;
	margin-top: -58px;
	background-color: #1d70b7;
	text-align: center;
	padding-top: 108px;
}
.subscribe__form{
	margin: 0 auto;
}
.subscribe__email{
	border: none;
	background:none;
	outline: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	margin-right: 40px;
	height: 40px;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 18px;
	width: 354px;
}
.subscribe__submit{
	height: 40px;
	width: 258px;
	border: none;
	background:none;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}
/* news end */
/* study */
.study{
	padding-top: 226px;
	padding-bottom: 103px;
	position: relative;
	width: 100%;
}
.slide--study1{
	background: url(../img/study1.png) no-repeat center;
}
.slide--sdudy2{
	background: url(../img/sdudy3.png) no-repeat center;
}
.slide--sdudy3{
	background: url(../img/study2.png) no-repeat center;
}
/* study end */
/* command */
.command{
	position: relative;
	width: 100%;
	padding-top: 205px;
	padding-bottom: 66px;
}
.pages-slider{
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.pages-slider__nav{
	width: 100%;
	height: 52px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(231, 231, 231);
	font-size: 12px;
	font-family:"HelveticaNeueCyr-Light";
}
.nav__button{
	display: block;
	width: 52px;
	height: 52px;
	font-size: 24px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	padding-top: 22px;
}
#nav__namber-page{

}
#nav__all-pages{

}
.pages-slider__page{
	width: 300px;
	height: 406px;
	text-align: left;
	box-shadow: 0px 3px 15px 0px rgba(26, 23, 27, 0.24);
	p:before{
		content: "";
		display: block;
		position: absolute;
		background-color: rgb(67, 135, 193);
		left: -10px;
		top: -7px;
		height: 34px;
		width: 1px;
	}
}
.page__face{
	width: 100%;
	height: 194px;
}
.page__name{
	font-size: 21px;
	font-family: "HelveticaNeueCyr-Bold";
	color: rgb(29, 112, 183);
	margin-top: 27px;
	margin-left: 32px;
	position: relative;
}
.page__position{
	font-size: 14px;
	font-family: "HelveticaNeueCyr-Light";
	color: rgb(51, 51, 51);
	margin-top: -12px;
	margin-left: 32px;
	position: relative;
}
.page__button{
	border: 1px solid rgb(29, 112, 183);
	font-size: 12px;
	font-family: "HelveticaNeueCyr-Roman";
	color: rgb(29, 112, 183);
	text-transform: uppercase;
	text-align: center;
	margin: 50px auto;
	margin-left: 22px;
	width: 255px;
	height: 45px;
	cursor: pointer;
}
/* command end */
/* footer */
.footer{
	width: 100%;
	position: relative;
}
.footer__contacts{
	padding: 223px 0px 0px 172px;
	display: block;
}
.contacts__block{
	display: block;
	hr{
		background-color: rgb(67, 135, 193);
		position: absolute;
		width: 69px;
		height: 1px;
		display: block;
		}
	p {
		font-size: 16px;
		font-family: "HelveticaNeueCyr";
		color: rgb(0, 0, 0);
		text-align: left;
		width: 203px;
		display: block;
		margin-bottom: 26px;
		}
	p:nth-child(3){
		margin-top: 35px;
	}
	p:first-child{
		text-align: left;
		width: 220px;
	}
	.bolck__tittle{
		font-size: 18px;
		color: #6c98c7;
		font-family: "HelveticaNeueCyr-Bold";
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-top: 30px;
	}
	.text-left-padding{
		padding-left: 39px;
	}
}
.footer__send{
	position: absolute;
	right: 0;
	top: 0;
	left: 480px;
	background-color: #1d70b7;
	color: #fff;
	padding-top: 44px;
	padding-left: 82px;
	padding-bottom: 169px;
	text-align: left;
	letter-spacing: 0.6px;
	hr{
		background-color: #fff;
		width: 69px;
		height: 1px;
		margin-left: 0;
		border: none;
		margin-bottom: 28px;
	}
	input{
		display: block;
	}
	.checkbox{
	margin-bottom: 23px;
	display: none;
	}
	.checkbox__label{
	width: 18px;
	height: 17px;
	background: url(../img/checkbox.png) no-repeat;
	background-position: 0 0;
	display: inline-block;
	margin-bottom: -3px;
	}	
	.checkbox:checked + .checkbox__label{
	background-position: 0px -18px;
	}
	form p {
		font-size: 14px;
		font-family: "HelveticaNeueCyr";
		line-height: 1.857;
		display: inline-block;
		a{
			color: #fff;
		}
	}
}

.send__links{
	font-size: 12px;
	font-family: "OpenSans";
	color: #fff;
	text-decoration: none;
	margin-right: 28px;
}
.send__links--margin{
	margin-left: -6px;
}
.send_title{
	font-family: "HelveticaNeueCyr-Bold";
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 13px;
	margin-top: 163px;
}
.send__input{
	margin-bottom: 21px;
	border: 1px solid #fff;
	width: 332px;
	height: 45px;
	background: url(../img/input_icon.png) no-repeat;
	padding-left: 37px;
	color: #fff;
}
.send__input--name{
	background-position: 13px 16px;
}
.send__input--email{
	background-position: 13px -54px;
	margin-bottom: 33px;
}
.send__input:focus{
	background:none;
}
.send__button{
	border: 1px solid #fff;
	background-color: #fff;
	width: 374px;
	height: 45px;
	color:  #1d70b7;
	cursor: pointer;
	margin-top: 57px;
	font-size: 12px;
	font-family: "HelveticaNeueCyr-Roman";
	text-transform: uppercase;
}
.send__button:hover{
	background-color: #1d70b7;
	color:  #fff;
	
}
/* footer end */
@import "768";
@import "320";