@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic');

@font-face {
  font-family: "LC Chalk";
  src: url("fonts/3892.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body{
  font-size: 16px;
}